.catalog {
    width: 100%;
}

.filter {
    display: flex;
    gap: 10px;
}

.catalog_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding-top: 20px;
}

.price {

}