.toy_photo {
    max-width: 550px;
    width: 100%;
}

.title {

}

.panel_info {
    display: flex;
    gap: 0 5px
}

.panel_info__item {

}

.toy_info {
    display: flex;
}

.photo_switcher {
    display: flex;
    gap: 0 10px;
}

.photo_switcher__slider {

}

.photo_switcher__slide {
    max-width: 75px;
}

.description {

}

.available {

}

.share {
    display: flex;
    gap: 0 5px;
}

.share_item {

}

.slide_toys {

}
