.header {
    background-color: #e7e6e6;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 14px;
    padding-top: 14px;
    color: black;
}

.links {
    display: flex;
}

.link {

}

.list {
    display: flex;
    justify-content: space-around;
}

.list_item {

}

.panel {
    display: flex;
    justify-content: space-around;
    grid-column : span 2;
}

.panel_item {

}

.logo {

}